  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="lead">{{mentorPost.name}}</h1>
      <p>{{mentorPost.summary}}</p>
      <p>{{mentorPost.interest1}}</p>
      <p>{{mentorPost.socialLink1 }}</p>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
    <form method="POST" action="/mentor-posts/{{mentorPost._id}}/comments">
      <label for="comment-content"> Request a Mentor! </label>
      <textarea name="content" id="comment-content" class='form-control' placeholder="Comment"></textarea>
      <div class="text-right">
        <button type="submit">Post</button>
      </div>
    </form>
    <p>Comments:</p>
       {{#each mentorPost.comments}}
   <li class="list-group-item">
       <p>{{this.author}}</p>
       <p>{{this.content}}</p>
       <a href="/comments/{{this._id}}/new">Reply</a>
       {{#if this.comments}}
           {{> comments}}
       {{/if}}
   </li>
   {{/each}}
     </div>

   </div>
</div>
