
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form method="POST" action="/mentor-posts">
      <legend>New Mentor Post</legend>
      <div class="form-group">
        <label for="post-title">Title - What are you mentoring?</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Name" value="{{mentor-post.name}}"></input>
      </div>
      <div class="form-group">
        <label for="post-title">Interests </label>
        <input type="text" name="interest1" class="form-control" id="interest1" placeholder="Name" value="{{mentor-post.name}}"></input>
      </div>
      <div>
      <div class="form-group">
        <label for="post-title">Location?</label>
        <input type="text" name="location" class="form-control" id="location" placeholder="Name" value="{{mentor-post.name}}"></input>
      </div>
      <div class="form-group">
        <label for="post-title">Summary?</label>
        <input type="text" name="summary" class="form-control" id="summary" placeholder="Name" value="{{mentor-post.name}}"></input>
      </div>
      <div class="form-group">
        <label for="post-title">Social Link?</label>
        <input type="text" name="socialLink1" class="form-control" id="socialLink1" placeholder="Name" value="{{mentor-post.name}}"></input>
      </div>

      <div class='text-right'>
        <button type="submit" class="btn btn-primary">Submit<button>
      </div>


    </form>
  </div>
</div>
